.login-form {
    max-width: 30vw;
    border: solid 1px rgb(64, 110, 250);
    box-shadow: 5px 5px 5px rgb(64, 110, 250);
    padding: 20px;
  }
  .login-form h1{
    margin: 0 0 20px 30%;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 60%;
    margin-left: 20%;
  }